*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/app1/nbproject/private/
/app1/build/
/HumanResources/nbproject/private/
/HumanResources/dist/
/HumanResources/build/
/Modulo4/nbproject/private/
/Modulo5/nbproject/private/
/Modulo5/build/
/Modulo6/nbproject/private/
/Modulo6/build/
/Modulo8/nbproject/private/
/Modulo8/build/
/Modulo9/nbproject/private/
/Modulo9/build/
/Modulo10/nbproject/private/
/Modulo10/build/
/Modulo11/nbproject/private/
/Modulo11/build/